DATABASE_URL=****************
DIRECT_URL=************
NODE_ENV=***********
JWT_SECRET=************
JWT_EXPIRES_IN="1h"
CLOUDINARY_CLOUD_NAME=***********
CLOUDINARY_API_KEY=****************
CLOUDINARY_API_SECRET=****************
FRONTEND_URL=****************
NEXTAUTH_SECRET=****************
GMAIL_USER=*****************
GMAIL_APP_PASSWORD=*****************

SUPPORT_EMAIL=*****************    
PARTNERSHIP_EMAIL=***************** 


